<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
		<section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="PreVeriTaxAgent.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="PreVeriTaxAgent.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<cachingConfiguration defaultCacheManager="MyCacheManager">
		<cacheManagers>
			<add name="MyCacheManager" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore" />
		</cacheManagers>
		<backingStores>
			<add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="NullBackingStore" />
		</backingStores>
	</cachingConfiguration>
	<loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
		<listeners>
			<add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" source="Enterprise Library Logging" formatter="Text Formatter" log="Application" machineName="" traceOutputOptions="None" filter="All" />
		</listeners>
		<formatters>
			<add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}" name="Text Formatter" />
		</formatters>
		<categorySources>
			<add switchValue="All" name="General">
				<listeners>
					<add name="Event Log Listener" />
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events" />
			<notProcessed switchValue="All" name="Unprocessed Category" />
			<errors switchValue="All" name="Logging Errors &amp; Warnings">
				<listeners>
					<add name="Event Log Listener" />
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>
	<exceptionHandling>
		<exceptionPolicies>
			<add name="UI Policy">
				<exceptionTypes>
					<add name="Exception" type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None">
						<exceptionHandlers>
							<add name="Logging Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging" logCategory="General" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="0" useDefaultLogger="false" />
						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>
		</exceptionPolicies>
	</exceptionHandling>
	<system.diagnostics>
		<sources>
			<!-- This section defines the logging configuration for My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog" />
					<!-- Uncomment the below section to write to the Application Event Log -->
					<!--<add name="EventLog"/>-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information" />
		</switches>
		<sharedListeners>
			<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
			<!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
			<!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
		</sharedListeners>
	</system.diagnostics>
	<appSettings>
		<!--Development-->
		<!--<add key="ConnectionStringDev" value="server=10.2.4.49;database=SPDev2010;uid=SPDevUser;pwd=;Connect TimeOut=0;"/>-->
		<add key="ConnectionStringDev" value="Data Source=w2-dev-db01.cd701adc0fa4.database.windows.net,1433;Initial Catalog=SPDEV2007;User ID=dev-app-db;Password=" />

		<add key="ConnectionStringDev1" value="server=developmentdb;database=SPSTAGE2006;uid=STAGEUSER;pwd=" />
		<add key="ConnectionStringDev2" value="server=developmentdb;database=SPSTAGE2006;uid=STAGEUSER;pwd=" />
		<!--<add key="ConnectionString" value="server=10.2.4.49;database=SPDev2010;uid=SPDevUser;pwd=;Connect TimeOut=0;"/>-->
		<add key="ConnectionString" value="Data Source=w2-dev-db01.cd701adc0fa4.database.windows.net,1433;Initial Catalog=SPDEV2007;User ID=dev-app-db;Password=8mLfkU9Q7ALuTVke" />
		<add key="ConnectionStringNew" value="server=10.2.10.193;database=SP2007;uid=SP2007;pwd=" />

		<!--Stage-->
		<add key="ConnectionStringstage" value="server=10.1.1.38;database=SPUSDBTEST;uid=SPUSTESTUSER;pwd=" />

		<!--Live-->
		<add key="ConnectionStringLive" value="uid=SUREPREPUSER;pwd=;database=SurePrepWebSite (DBO USE ONLY);Connect TimeOut=0;server=10.1.1.38" />

		<!--Common Settings-->
		<add key="Env" value="Development" />
		<add key="Noofrows" value="10" />
		<add key="AgentId" value="33" />
		<add key="AgentName" value="FaxToTax " />
		<add key="Interval" value="2000" />
		<add key="Max_Interval" value="60000" />
		<add key="RetryJobAttemp" value="5" />
		<add key="MuniBondLogPath" value="d:\temp" />
		<add key="PreVeriTaxAgent.localhost.VerificationWizard" value="http://localhost/Scan1040/VerificationWizard.asmx" />
		<add key="WCFPath" value="https://10.2.3.240/SPbinderServices/SPDatabaseService.svc" />
		<add key="WCFPathFaxToFax" value="https://infinity.sp.com/FaxToTax/" />
		<add key="OCRValidation" value="Y" />
		<add key="GetOCRDataAttempts" value="2" />
		<add key="WaitTime" value="2000" />
		<add key="TruncateAmount" value="Y" />
		<add key="CleanAtEnd" value="Y" />
		<add key="UseWCFService" value="N" />
		<add key="AssignToBOTUser" value="1" />
		<add key="IsK1PreRuleValidationOn" value="Y" />
		<add key="Matchingpercent" value="85" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="DebugMode" value="Y" />
		<add key="LogSeverity" value="1" />
		<add key="UseMutlithreadedFormulaEvaluation" value="N" />
		<!--<add key="baseUrl" value="https://localhost/Fax2TaxAPI/api/" />
	<add key="AgentAPIbaseUrl" value="https://localhost/SP.AgentAuth.API/api/AgentAuthentication/" />-->
		<add key="baseUrl" value="https://dev-fileroom-lotus.sureprep.com/F2TAPI/api/" />
		<add key="AgentAPIbaseUrl" value="https://dev-fileroom-lotus.sureprep.com/AuthAPI/API/AgentAuthentication/" />
		<add key="AgentAuthKey" value="F4E9F3D2-32D2-42E7-9F05-8A2453CC1599" />

		<add key="fax2taxApiUrl" value="https://dev-fileroom-lotus.sureprep.com/RWAPI/api/" />
		<add key="userid" value="4" />
		<add key="domainId" value="0" />
	</appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="DWPPrintingSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
			</basicHttpBinding>
			<customBinding>
				<binding name="DWPPrintingSoap12">
					<textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
						<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					</textMessageEncoding>
					<httpTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" />
				</binding>
			</customBinding>
			<wsHttpBinding>
				<binding name="WSHttpBinding_ITextExtractionService" maxBufferPoolSize="200000000" maxReceivedMessageSize="200000000">
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
				</binding>
				<binding name="WSHttpBinding_IFaxToTaxWCFService">
					<security mode="Transport">
						<transport clientCredentialType="None" />
						<message clientCredentialType="Windows" />
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://10.2.3.240/SPbinderServices/SPDatabaseService.svc" binding="basicHttpBinding" bindingConfiguration="DWPPrintingSoap" contract="WSPrint.DWPPrintingSoap" name="DWPPrintingSoap" />
			<endpoint address="https://10.2.3.240/SPbinderServices/SPDatabaseService.svc" binding="customBinding" bindingConfiguration="DWPPrintingSoap12" contract="WSPrint.DWPPrintingSoap" name="DWPPrintingSoap12" />
			<endpoint address="https://sunflower.sp.com/SPbinderServices/TextExtractionService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITextExtractionService" contract="TextExtraction.ITextExtractionService" name="WSHttpBinding_ITextExtractionService" />
			<endpoint address="https://sp-dev07.sp.com/FaxToTaxWCFService/FaxToTaxWCFService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IFaxToTaxWCFService" contract="FaxToTaxWCFServiceReference.IFaxToTaxWCFService" name="WSHttpBinding_IFaxToTaxWCFService" />
		</client>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<applicationSettings>
		<PreVeriTaxAgent.My.MySettings>
			<setting name="PreVeriTaxAgent_development1_SPELite" serializeAs="String">
				<value>http://devws/spstage2010/scan1040/SPELite.asmx</value>
			</setting>
		</PreVeriTaxAgent.My.MySettings>
	</applicationSettings>
	<userSettings>
		<PreVeriTaxAgent.My.MySettings>
			<setting name="UseAPI" serializeAs="String">
				<value>False</value>
			</setting>
		</PreVeriTaxAgent.My.MySettings>
	</userSettings>
</configuration>
